.site-branding {
  text-align: center;
  .logotipo img {
    margin-top: 20px;
    width: 128px;
    height: 128px;
  }
  .site-title {
    font-size: 28px;
    padding: 0;
  }
  .site-description {
    margin-bottom: 30px;
    font-style: italic;
  }
}

.navbar-toggle {
  border: none;
  margin: 0;
  padding: 20px;
  border-radius: 0;
  .icon-bar {
    height: 6px;
    width: 35px;
    background-color: $gray-dark !important;
  }
  &:hover {
    background-color: transparent !important;
    .icon-bar {
      background-color: $color-link-hover !important;
    }
  }
}

.navmenu {
  border: none;
  .sidebar-abajo {
    position: relative;;
    top: 0;
  }
  .row {
    margin: 0;
  }
  .menu-principal-container {
    .navbar-nav {
      margin: 15px 0 0 0;
    }
    display: block;
    ul {
      display: block;
      width: 100%;
      li {
        float: none;
        a {
          padding: 5px 20px;
          &:hover, &:focus {
            background-color: $color-li-hover;
          }
        }
        &.current_page_item {
          a {
            background-color: $gray-dark;
            color: $color-li-hover;
            &:hover {
              color: $color-link-hover;
            }
          }
        }
      }
    }
  }
  .search-field {
    padding-left: 20px;
    border-radius: 0;
    width: 300px !important;
  }
  .widget {
    h3 {
      margin: 30px 20px 10px 20px;
      font-size: 18px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        font-size: 12px;
        padding: 5px 20px;
        border-bottom: 1px solid $gray-light-semi;
      }
    }
  }
}
