//
// index
// ----------------

.stickies {
  .cabecera {
    width: 100%;
    background-color: $brand-primary;
    padding: 30px;
    p {
      font-family: $font-family-sans-serif;
      color: $gray-lighter;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0;
    }
  }
  article {
    padding: 0px;
    .entry-title {
      margin: 0 0 30px 0;    }
    .entry-summary {
      padding: 30px;
    }
  }
}

.entradas {
  .cabecera {
    width: 100%;
    background-color: $gray-dark;
    padding: 30px;
    p {
      font-family: $font-family-sans-serif;;
      color: $gray-lighter;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0;
    }
  }
  article {
    padding: 0px;
    .entry-title {
      margin: 0 0 30px 0;
    }
    .entry-summary {
      padding: 30px;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .stickies {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    width: 346px;
  }
  .entradas {
    margin-left: 346px;
    max-width: 600px;
  }
}

@media (min-width: $screen-lg-min) {
  .stickies {
    width: 500px;
  }
  .entradas {
    margin-left: 500px;
    max-width: 700px;
  }
}

//
// ESTRUCTURA
// ----------------

.main {
  padding: 0;
  .central {
    padding: 0;
  }
}


@media (min-width: $screen-sm-min) {
  .central {
    margin: 30px;
    padding: 0;
    background-color: $gray-super-lighter;
    // box-shadow: -10px -10px 0px $sombra;
  }
}

//
// SECCIÓN
// ----------------
.category {
  .central {
    .page-header {
      text-align: center;
      border: none;
      background-color: $gray-lighter;
      margin-top: 0;
      padding: 20px 0;
      .s {
        font-size: 128px;
        line-height: .8em;
      }
      h1 {
        margin: 0;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        color: $color-link-hover;
        font-weight: bold;
      }
    }
    article {
      padding: 0px;
      header {
        padding: 30px 30px 10px 30px;
      }
      .entry-summary {
        padding: 30px;
      }
    }
  }
}

//
// PORTADA SECCIONES
// ----------------

.secciones {
  .seccion {
    margin: 0;
    .cabecera {
      background-color: $gray-lighter;
      padding: 30px;
      margin-bottom: 20px;
      .s {
        font-size: 64px;
        line-height: 64px;
      }
      h2 {
        margin-top: 0;
      }
      .descripcion {
        font-size: 14px;
        font-style: italic;
        color: $gray-light;
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    ul {
      padding-left: 0;
      li {
        list-style-type: none;
        border-bottom: 1px solid $gray-light-semi;
        a {
          display: block;
          padding: 5px 30px;
        }
        &.ver-todas {
          border-bottom: none;
          a {
            font-family: $font-family-sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}

//
// PORTADA COLABORADORES
// -----------------------

.colaboradores {
  .central {
    ul {
      padding: 0;
      list-style-type: none;
      .cabecera {
        width: 100%;
        background-color: $gray-dark;
        padding: 30px;
        h2 a {
          color: $color-link-hover;
          &:hover {
            color: $brand-primary;
          }
        }
      }
      .entradas-autor {
        margin-bottom: 30px;
        li {
          border-bottom: 1px solid $gray-light-semi;
          a {
            display: block;
            padding: 5px 30px;
          }
          &.ver-todas {
            font-family: $font-family-sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
          }
        }
      }
    }
    h2 {
      margin: 0;
    }
    .numero-posts {
      color: $gray-light-semi;
      font-style: italic;
      margin: 0;
    }

  }
}

//
// SINGLE AUTHOR
// -----------------------

.author {
  .central {
    .cabecera {
      width: 100%;
      background-color: $gray-dark;
      padding: 30px;
      margin-bottom: 30px;
      h2 {
        color: $gray-lighter;
        margin: 0;
      }
      .bio {
        color: $gray-lighter;
      }
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        border-bottom: 1px solid $gray-light-semi;
        padding-top: 10px;
        h3 {
          margin: 0 0 5px 0;
          padding: 0 30px;
          font-size: 18px;
        }
        .meta {
          padding: 0 30px;
          color: $gray-light;
          font-style: italic;
        }
      }
    }
  }

}

//
// PORTADA ARCHIVOS
// -----------------------

.archivos {
  .central {
    ul {
      padding: 0;
      list-style-type: none;
      li {
        border-bottom: 1px solid $gray-lighter;
        a {
          display: block;
          padding: 5px 30px;
          &:hover {
            background-color: $color-link-hover;
            color: white;
          }
        }
      }
    }
  }
}

//
// ARCHIVO MENSUAL
// -----------------------

.date, .search {
  .central {
    .page-header {
      background-color: $gray-dark;
      padding: 30px;
      margin-top: 0;
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      h1 {
        margin: 0;
        border: none;
        color: $gray-lighter;
        font-size: 18px;
      }
    }
    article {
      padding: 0 30px;
      margin-bottom: 50px;
      .entry-title {
        font-size: 24px;
      }
      .meta {
        font-family: $font-family-sans-serif;
      }
    }
  }
}
