.single {
  .post {
    header {
      padding: 30px;
      background-color: $gray-dark;
      color: white;
      h1 {
        margin: 0 0 20px 0;
      }
      a {
        color: $color-link;
        &:hover {
          color: $color-link-hover;
        }
      }
      p {
        margin: 0;
      }
    }
    .entry-content {
      padding: 0 20px;
    }
  }
}


@media (min-width: $screen-lg-min) {
  .single {
    .post {
      header {
        padding: 30px;
        background-color: $gray-dark;
        color: white;
        h1 {
          margin: 0 0 20px 0;
        }
        a {
          color: $color-link;
          &:hover {
            color: $color-link-hover;
          }
        }
      }
    }
  }


}
