/**
 * Variables
 */

$theme-colors: (
  primary: #990000,
  enlace: #990000,
  hover: #000000,
  roto: #F1F1F1,
);

$ff-sans: dino, sans-serif;
$ff-serif: garagord, serif;
$font-family-base: $ff-serif;

$trans: 0.3s;
