/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

body {
  background-color: theme-color("roto");
}

a {
  color: theme-color("enlace");
  transition: color $trans, background-color $trans;

  &:hover {
    color: theme-color("hover");
    text-decoration: none;
  }
}

p {
  line-height: 1.2em;
}

.contenido {
  width: 100%;
  max-width: 1500px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 0vw;
  transition: margin-right $trans;

  .page-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &.abierto {
    margin-right: 28vw;
  }


  article {
    width: 100%;
    margin-bottom: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #000;

    p,
    h1,
    h2 {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    h2 {
      margin-bottom: .7em;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em;
    }
  }


  @include media-breakpoint-up(md) {
    > section {
      padding-top: 3vw;
      width: calc(65% - 1rem);
      background-color: #fff;
    }
  }

    .page-header {
      padding-top: 20vw;
      background-color: #fff;
      width: calc(65% - 1rem);

      h1 {
        font-size: 1.2rem;
      }
    }
}

