/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

body {
  background-color: theme-color("roto");

  @include media-breakpoint-up(md) {
    .main {
      // padding-top: 20vw;
    }
  }
}

a {
  color: theme-color("enlace");
  transition: color $trans, background-color $trans;

  &:hover {
    color: theme-color("hover");
    text-decoration: none;
  }
}

p {
  line-height: 1.2em;
}
