.author {
  .page-header {
    width: 100%;

    h1 {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .contenido {
    max-width: 900px;

    section {
      width: 100%;
    }
  }
}
