.home {
  .contenido {
    section > {
      width: 100%;

      header {
        margin-bottom: 0.2rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .contenido > {
      section {
        width: calc(50% - 1rem);
        padding-top: 20vw;

        &:first-child {
          margin-right: 1rem;
        }

        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }
}
