.sidebar {
  position: fixed;
  top: 0;
  right: -100vw;
  background-color: theme-color("roto");
  width: 100vw;
  height: 100vh;
  z-index: 1100;

  &.cerrado {
    right: -25vw;
  }
  @include media-breakpoint-up(md) {
    right: 0vw;
    width: 25vw;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 3vw;
      left: -1px;
      height: 35vw;
      border-left: 1px solid #000;
    }
  }

  .botones {
    position: absolute;
    top: 5vw;

    ul {
      flex-direction: column;
      align-items: flex-start;

      li {
        position: relative;
        left: -3vw;
        border: 6px solid #000;
        margin-bottom: 1rem;

        a {
          display: inline-block;
          padding: .5vw 1vw;
          background-color: theme-color("roto");

          &:hover,
          &:focus {
            background-color: #fff;
          }
        }
      }
    }

    #btnside {
      display: block;
      width: 3vw;
      position: relative;
      left: -3vw;

      svg {
        width: 100%;
        height: auto;

        &#flecha-izq {
          display: none;
        }

        &#flecha-der {
          display: block;
        }
      }

      &.cerrado {
        svg {
          width: 100%;
          height: auto;

          &#flecha-izq {
            display: block;
          }

          &#flecha-der {
            display: none;
          }
        }
      }
    }
  }

  section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2vw;
    background-color: theme-color("roto");

    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        font-size: 0.9rem;
        line-height: 1.2em;
      }
    }

    &.widget_recent_comments {
      ul li {
        margin-bottom: 1em;
      }
    }

    &.widget_categories {
      ul li {
        margin-bottom: 1em;

        &::before {
          display: block;
          content: "";
          width: 4vw;
          height: 4vw;
          background-size: contain;
        }

        &.cat-item-3 {
          &::before {
            background-image: url("../images/que-pasa-aqui.svg");
          }
        }

        &.cat-item-4 {
          &::before {
            background-image: url("../images/autobombo.svg");
          }
        }

        &.cat-item-5 {
          &::before {
            background-image: url("../images/critica-a-la-critica.svg");
          }
        }

        &.cat-item-6 {
          &::before {
            background-image: url("../images/delincuentes.svg");
          }
        }

        &.cat-item-7 {
          &::before {
            background-image: url("../images/difusion.svg");
          }
        }

        &.cat-item-8 {
          &::before {
            background-image: url("../images/idioteces.svg");
          }
        }

        &.cat-item-9 {
          &::before {
            background-image: url("../images/memoria-historica.svg");
          }
        }

        &.cat-item-10 {
          &::before {
            background-image: url("../images/pill-golding.svg");
          }
        }

        &.cat-item-12 {
          &::before {
            background-image: url("../images/weblog.svg");
          }
        }
      }
    }
  }
}
